/* AppComponent's private CSS styles */
h1 {
  font-size: 2.6em;
  color: #999;
  text-align: center;
  background-color: black;
  color: white;
  margin-bottom: 0;
}
:host {
  display: block;
  
}
:host-context(.theme-light) h2 {
  background-color: #eef;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}


/*
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/