<nav>
<ul class="nav navbar-nav navbar-right"><div *ngIf="user; then logout else login"></div></ul>
    <ng-template #login>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/register">Register</a></li></ng-template>
    <ng-template #logout><li><a routerLink="/login">Logout({{user}})</a></li></ng-template>

<ul class="nav navbar-nav navbar-left">
  
    <li><a routerLink="/blogs">Blogs</a></li>
    <li><a routerLink="/addblogs">Add Blogs</a></li>
  
</ul>
</nav>