
<app-header></app-header>
<br/><br/><br/>
<div class="row">
<div *ngFor="let hero of pagedItems">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6 well">

			<div class="row"><h3>{{ hero.blog_title }}</h3></div>
			
			<div class="row"><p>{{ hero.blog_desc }}<a [routerLink]="['blogview',hero.id]">View More</a></p></div>
			<div class="row">
				<div class="col-sm-4">Created At:<br/>{{ hero.created_at }}</div>
				<div class="col-sm-4">Updated_At:<br/>{{ hero.updated_at }}</div>
				<div class="col-sm-2">
					<button type="button" (click)="delete(hero.id)" class="btn btn-danger">Delete</button>
				</div>
				<div class="col-sm-2">
					<a [routerLink]="['edit', hero.id]" class="btn btn-success">Edit</a>
				</div>
			</div>
		</div>
		<div class="col-sm-3"></div>
    </div>
    
    
</div>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Last</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-3"></div>
</div>
</div>
