<app-header></app-header>
<div class="col-md-6 col-md-offset-3">
    <h2>Edit Blog</h2>
    <form name="form" (ngSubmit)="f.form.valid && updateblog()" #f="ngForm" novalidate enctype='multipart/form-data'>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !blog_title.valid }">
            <label for="blog_title">Blog Title</label>
            <input type="text" class="form-control" name="blog_title" [(ngModel)]="model.blog_title" #blog_title="ngModel" required />
            <div *ngIf="f.submitted && !blog_title.valid" class="help-block">Full Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !blog_desc.valid }">
            <label for="blog_desc">Blog Description</label>
            <textarea class="form-control" name="blog_desc" [(ngModel)]="model.blog_desc" #blog_desc="ngModel" required ></textarea>
            <div *ngIf="f.submitted && !blog_desc.valid" class="help-block">Email is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !blog_img.valid }">
            <label for="blog_img">Image</label>
            <input type="file" class="form-control" name="blog_img" [(ngModel)]="model.blog_img" #blog_img="ngModel" (change)="handleFileInput($event.target.files)" />
            <span style="color:red">* If You have require to change image so please again upload. If Not so please don't do anything</span>
            <div *ngIf="f.submitted && !blog_img.valid" class="help-block">Blog Image is required</div>
        </div>
        <div class="row"><img src="{{ image }}" /></div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Update Blog</button>
        </div>
    </form>
</div>
