
<app-header></app-header>
<br/><br/><br/>
<div class="row">
<div *ngFor="let hero of hero">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6 well">

			<div class="row"><h3>{{ hero.blog_title }}</h3></div>
			
			<div class="row"><p>{{ hero.blog_desc }}</p></div>
			<div class="row"><img src="http://127.0.0.1:8000/{{ hero.blog_img }}"></div>
			<div class="row">
				<div class="col-sm-4">Created At:<br/>{{ hero.created_at }}</div>
				<div class="col-sm-4">Updated_At:<br/>{{ hero.updated_at }}</div>
				
				<div class="col-sm-2">
					<a [routerLink]="['edit', hero.id]" class="btn btn-success">Edit</a>
				</div>
			</div>
		</div>
		<div class="col-sm-3"></div>
    </div>
    
    
</div>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
    	<form name="form" (ngSubmit)="f.form.valid && addcomment()" #f="ngForm" novalidate>
    		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !comments.valid }">
            	<label for="comments">Comment</label>
            	<div *ngIf="f.submitted && !comments.valid" class="help-block">Email is required</div>
            	<textarea class="form-control" name="comments" rows=5 [(ngModel)]="model.comments" #comments="ngModel" required ></textarea>
            	<div *ngIf="f.submitted && !comments.valid" class="help-block">Comment is required</div>
        	</div>
        	<div class="form-group" style="text-align:right;">
            	<button [disabled]="loading" class="btn btn-success">Comment</button>
        	</div>
    	</form>
    </div>
    <div class="col-sm-3"></div>
</div>
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div *ngFor="let comment of comment">
				<div class="row">
					<h3 class="row well">{{ comment.email }}
						<div *ngIf="user === comment.email; then logout"></div>
							<ng-template #logout>
								<button style="float:right;" type="button" class="btn btn-danger" (click)="deletecomment(comment.id)">Delete</button>
							</ng-template>
						
					</h3>
					<p>{{ comment.comment }}</p>
				</div>
				<div class="row">
					<div *ngFor="let replyComment of replyComment">
						<div class="row" *ngIf="comment.id === replyComment.cmt_id; then reply"></div>
						<ng-template #reply>
							<div class="row">
								<h6 class="well" style="float: right;">{{ replyComment.email }}
									<div *ngIf="user === replyComment.email; then replycmtdiv"></div>
									<ng-template #replycmtdiv>
										&nbsp;&nbsp;<button style="float:right;" type="button" class="btn btn-danger" (click)="delete_reply_comment(replyComment.id)">Delete</button>
									</ng-template>
								</h6>
							</div>
							<div class="row">
								<p style="float: right;">{{ replyComment.replycmt }}</p>
							</div>
						</ng-template>
					</div>
					<div class="row"><div class="col-sm-6"></div>
					<div class="col-sm-6">
					<form name="form" (ngSubmit)="f.form.valid && addreplycomment(comment.id)" #f="ngForm" novalidate>
    					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !recomments.valid }">
            				<label for="recomments">Reply</label>
            				<div *ngIf="f.submitted && !recomments.valid" class="help-block">Email is required</div>
            				<textarea class="form-control" name="recomments" rows=5 [(ngModel)]="model.recomments" #recomments="ngModel" required ></textarea>
            				<div *ngIf="f.submitted && !recomments.valid" class="help-block">Reply Comment is required</div>
        				</div>
        				<div class="form-group" style="text-align:right;">
            				<button [disabled]="loading" class="btn btn-success">Comment</button>
        				</div>
    				</form></div></div>
				</div>
				</div>
			</div>
		
		<div class="col-sm-3"></div>
</div>
</div>