<app-header></app-header>
<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fname.valid }">
            <label for="fname">Full Name</label>
            <input type="text" class="form-control" pattern="[a-zA-Z][a-zA-Z ]+" name="fname" minlength="4" [(ngModel)]="model.fname" #fname="ngModel" required />
            <div *ngIf="f.submitted && !fname.valid" class="help-block">Full Name is required</div>
            
            <div *ngIf="fname.errors?.minlength" style="color:red;">
                Full Name must be at least 4 characters long.
            </div>
            <div [hidden]="!fname.hasError('pattern')" style="color: red;">Only Alphabets Allowed</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !cpassword.valid }">
            <label for="cpassword">Confirm Password</label>
            <input type="cpassword" class="form-control" name="cpassword" [(ngModel)]="model.cpassword" #cpassword="ngModel" required />
            <div *ngIf="f.submitted && !cpassword.valid" class="help-block">Confirm Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
