<h3 *ngIf="isLoading"><i>Users ... </i></h3>
<h3 *ngIf="!isLoading">Select a user:</h3>
  
<nav>
	<button class="btn btn-primary" (click)="getUsers()">Refresh User List</button>&nbsp;
	<button *ngFor="let users of users | async" class="btn btn-success" (click)="select(users)">{{ users.name }}</button>
</nav>
<div *ngIf="selectedUser">
	<app-user-detail [users]="selectedUser"></app-user-detail>
</div>