<br/><br/><a routerLink="/userdetail" routerLinkActive="active">User Detail</a>&nbsp;
<a routerLink="/myusers" routerLinkActive="active">My Sub Users</a>
<div [ngClass] = "'child-container'">	
	  <router-outlet></router-outlet>	
</div>